<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/dahua/compareout" method="GET">
        <label>所有文字匹配均为模糊匹配</label><input type="hidden" name="username" value="{{username}}"/>
        <table border="1px solid black" cellspacing="0">
            <tr>
                <td>uuid</td>
                <td><input name="uuid" value="{{uuid}}"/></td>
                <td>请求来源</td>
                <td>
                    <select name="origin">
                        <option value="" {% if origin=="" %}selected{% endif %} >全部</option>
                        <option value="邮箱" {% if origin=="邮箱" %}selected{% endif %} >邮箱</option>
                        <option value="接口" {% if origin=="接口" %}selected{% endif %} >接口</option>
                    </select>
                </td>
                <td>接口调用用户Id</td>
                <td><input name="userid" value="{{userid}}"/></td>
                <td>邮箱调用mail</td>
                <td><input name="mail" value="{{mail}}"/></td>
                <td>接口传入参数合同编号</td>
                <td><input name="param_no" value="{{param_no}}"/></td>
                <td><input type="submit" value="提交"/></td>
            </tr>
        </table>
    </form>
    <table border="1px solid black" cellpadding="0">
        <thead>
            <th style="width:100px">创建时间</th>
            <th style="width:100px">状态更新时间</th>
            <th style="width:100px">流程状态</th>
            <th style="width:100px">请求来源</th>
            <th style="width:100px">请求参数</th>
            <th style="width:100px">保存文件名</th>
            <th style="width:100px">截图抽取信息</th>
            <th style="width:100px">crm数据</th>
            <th style="width:100px">上报审核信息</th>
            <th style="width:100px">上报抽取信息</th>
            <th style="width:100px">错误信息</th>
            <th style="width:100px">返回结果</th>
            <th style="width:100px">附加信息</th>
        </thead>
        {% for each in query_rst %}
            <tr>
                <!--<th>请求时间</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["create_time"]}}</textarea></td>
                <!--<th>状态更新时间</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["last_update_time"]}}</textarea></td>
                <!--<th>流程状态</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["process_status"]}}</textarea></td>
                <!--<th>请求来源</th>-->
                <td>
                    <textarea style="width: 100px; margin: 0px; height: 100px;">
                        {{each["origin"]}}
                    </textarea>
                </td>
                <!--<th>请求参数</th>-->
                <td>
                    <textarea style="width: 100px; margin: 0px; height: 100px;">
                        mail: {{each["mail"]}},
                        userid: {{each["userid"]}},
                        no:{{each["param_no"]}}
                    </textarea>
                </td>
                <!--<th>保存文件名</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["save_file_name"]}}</textarea></td>
                <!--<th>截图抽取信息</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["screenshot_extract_info"]}}</textarea></td>
                <!--<th>crm数据</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["crm_data"]}}</textarea></td>
                <!--<th>上报审核信息</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["report_review_info"]}}</textarea></td>
                <!--<th>上报抽取信息</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["report_extract_info"]}}</textarea></td>
                <!--<th>错误信息</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["error_info"]}}</textarea></td>
                <!--<th>返回结果</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["return_info"]}}</textarea></td>
                <!--<th>附加信息</th>-->
                <td><textarea style="width: 100px; margin: 0px; height: 100px;">{{each["addition_info"]}}</textarea></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
