<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1px solid black">
        <tr>
            <td width="120px">请求日期</td>
            <td>{{result[12]}}</td>
        </tr>
        <tr>
            <td>rowid</td>
            <td>{{result[1]}}</td>
        </tr>
        <tr>
            <td>请求来源</td>
            <td>
                {% if result[2]=="2" %}
                邮箱
                {% endif %}
                {% if result[2]=="1" %}
                手机app
                {% endif %}
                {% if result[2]=="0" %}
                一站式网站
                {% endif %}
                {% if result[2]=="3" %}
                复审
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>保存文件名</td>
            <td><a href="/dahua/pdfshow?file_name={{result[4]}}">{{result[4]}}</a></td>
        </tr>
        <tr>
            <td>文档编号</td>
            <td>{{result[17]}}</td>
        </tr>
        <tr>
            <td>图片地址</td>
            <td>
                <a href="/pdf/{{result[4]}}_page.png">整体</a>
                <a href="/pdf/{{result[4]}}_middle.png">中部(第一优先级)</a>
                <a href="/pdf/{{result[4]}}_foot_big.png">右下角(第二优先级)</a>
                <a href="/pdf/{{result[4]}}_head.png">页眉(第三优先级)</a>
            </td>
        </tr>
        <tr>
            <td>文档状态</td>
            <td>{{result[5]}}</td>
        </tr>
        <tr>
            <td>是否为标准文档</td>
            <td>
                {% if result[13]=="1" %}
                标准文档
                {% endif %}
                {% if result[13]=="2" %}
                非标一单一议
                {% endif %}
                {% if result[13]=="3" %}
                非标框架类
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>流程状态</td>
            <td>{{result[11]}}</td>
        </tr>
        <tr>
            <td>客户名称</td>
            <td>{{result[6]}}</td>
        </tr>
        <tr>
            <td>总金额</td>
            <td>{{result[7]}}</td>
        </tr>
        <tr>
            <td>业务归属人</td>
            <td>{{result[8]}}</td>
        </tr>
        <tr>
            <td>错误信息</td>
            <td>{{result[9]}}</td>
        </tr>
        <tr>
            <td>idps文档类型</td>
            <td>{{result[14]}}</td>
        </tr>
        <tr>
            <td>待比对ftp地址</td>
            <td>{{result[15]}}</td>
        </tr>
        <tr>
            <td>源文件ftp地址</td>
            <td>{{result[16]}}</td>
        </tr>
        <tr>
            <td>最终结果</td>
            <td><textarea style="width: 1744px; height: 437px;">{{result[10]}}</textarea></td>
        </tr>
    </table>
</body>
</html>