<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发票识别</title>
</head>
<body>
    <form action="/dahua/fapiao" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>传入发票文件(jpg,png,jpeg,bmp,tif,pdf):</td>
                <td><input name="file" type="file"/> </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="提交" /> </td>
            </tr>
        </table>
    </form>
    {% if boo %}
        <table border="1px solid black">
            {% for each in result %}
                <tr>
                    <td>{{each[0]}}</td>
                    <td>{{each[1]}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    发票原图
                </td>
                <td>
                    <img src="{{img_path}}">
                </td>
            </tr>
        </table>
    {% endif %}
</body>
</html>